.px-lg-10 {
    padding-left: 10rem;
    padding-right: 10rem;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.image{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}

.profile{
    z-index: 1;
}

.face{
    width: 15vw;
    border-radius: 15vw;
    box-shadow: 0 0 5px #fff,
    0 0 5px #fff, 
    0 0 5px #fff, 
    0 0 15px #a69cffac, 
    0 0 20px #a69cffac, 
    0 0 25px #a69cffac, 
    0 0 30px #a69cffac;
}

.name{
    font-size: 2.7vw;
    font-weight: bold;
}

.skills{
    font-size: 1vw;
}

.glowing-text {
    text-shadow: 0 0 5px #fff,
    0 0 5px #fff, 
    0 0 5px #fff, 
    0 0 5px #1900ff, 
    0 0 8px #1900ff, 
    0 0 10px #1900ff, 
    0 0 13px #1900ff;
    -webkit-text-stroke: 0.3px #1900ff;
}

.box {
    width: 8vw;
    height: 2vw;
    background-color: #5663f3c3;
    border-radius: 1vw;
}

#webDeveloper{
    width: 10vw;
    margin-left: 3vw;
}

#videoEditor, #illustrator{
    width: 9vw;
}

.glowing-box {
    box-shadow: 0 0 0.2px #fff,
    0 0 0.2px #fff, 
    0 0 0.2px #fff, 
    0 0 0.2px #1900ff, 
    0 0 10px #1900ff, 
    0 0 15px #1900ff, 
    0 0 20px #1900ff;
}